# Ignorar node_modules em todos os projetos
node_modules/
**/node_modules/

# Ignorar arquivos de log e temporários comuns
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos de ambiente
.env
.env.*

# Ignorar build e dist comuns
/build/
/dist/

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar uploads do servidor
heatmap-server/uploads/**
flutter_heatmap_tracker/example/**
flutter_heatmap_tracker/example/.dart_tool/**
flutter_heatmap_tracker/example/.dart_tool/
